.container {
  max-width: 920px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

button {
  cursor: pointer;
  padding: 20px;
  border: 2px solid #d6d6d6;
  background-color: white;
}

button[aria-pressed='true'] {
  border-color: green;
}
